.chatpopup-widget-close,
.chatpopup-widget__body-header,
.chatpopup-widget__trigger,
.chatpopup-welcome-msg {
    background-color: #1fad00;
    color: #ffffff;
}

.chatpopup-widget {
    right: 12px;
    align-items: flex-end;
}

.chatpopup-widget-close {
    right: 0;
}

.chatpopup_jwi {
    right: 12px;
}

.chatpopup-welcome-msg {
    border: 1px solid #ccc;
    color: #999;
    background: #fff;
    line-height: 1em;
    padding: 8px 15px 5px 10px;
    position: relative;
}

.chatpopup-welcome-msg:before {
    content: "\1F4AC";
    display: inline;
    top: 0;
    position: relative;
    font-size: 1.1em;
    margin-right: 5px;
}

.chatpopup-welcome-msg:after {
    content: "|";
    position: absolute;
    left: 32px;
    top: 6px;
    animation: cursor 2.5s infinite;
}

@keyframes cursor {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }
}